@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}
/* .navbar{
    background-color: rgba(82,64,120,0.9) !important;
    font-family: 'Gamja Flower';
    font-size: 20px;
    margin-left: 20px;
} */
.navbar {
	background-color: rgba(82,64,120,0.9) !important;
    font-family: 'Gamja Flower';
    font-size: 27px;
}
.navbar li a {
    color: #fff !important;
}
.navbar li a:hover {
    color: rgb(223, 88, 26) !important;
}
.dropdown-menu .dropdown-item{
    background-color: rgba(82,64,120,0.9) !important;
}
.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: #fff;
    transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #fd9d3e;
}
.navbar i:hover{
    color: #fd9d3e;
}
.navbar-light .navbar-nav .nav-links{
    background-color: green;
    margin-left: 150px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-size: 25px;
    border: 1px solid #999;
    padding: 4px 10px;
}
.navbar-light .navbar-nav .nav-links:hover{
    color: #fd9d3e;
}
.breadcumb {
    display: block;
    background: #191919;
    padding: 0;
    height: 460px;
    background-size: cover;
    position: relative;
}
.breadcumb .main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 460px;
    position: absolute;
    top: 0;
    left: 0;
}
.main .bread-title {
    color:aliceblue;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 auto;
    display: block;
    font-family: 'Gamja Flower';
    text-align: center;
}
.bread .home{
    font-family: 'Gamja Flower';
    font-size: 20px;
    color:aliceblue;
    text-align: center;
    margin-left: 50px;
}
.bread .home1{
    font-family: 'Gamja Flower';
    font-size: 20px;
    color:aliceblue;
}
.bread .home:hover{
    color: #fd9d3e;
    font-size: 20px;
}
.row{
    padding-top: 80px;
    padding: 0px - 18.5%;
    margin: 0px-15px;
}
/*Body page*/
.header-sub {
    text-align: center;
}
.header-sub p{
    font-size: 20px;
    color: rgb(219, 201, 36);
    font-family: 'Pacifico', cursive;
}
.header-sub h2{ 
    font-size: 50px;
    line-height: 30px;
}



.make-online-reservation .header-sub{
    text-align: center;
}
.header-sub p{
    margin: 0px;
}
.header-sub h2{
    margin-top: 5px;
}
form{
    /* margin-left: 00px; */
    width: 80%;
    margin: 30px;
    /* border: 1px solid #000; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    /* align-items:stretch; */
}
form input{
    padding-left: 15px;
    margin-top: 20px;
    border-radius:25px;
    /* width:  90%; */
    height: 50px;
    /* margin-left: -20px; */
    /* padding-top: 20px; */
    /* line-height: 40px; */
    /* padding-right: -20px; */

}
form select{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    padding-left: 10px;
}
form button{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    color: #fff;
    background-color: #fd9d3e;
    margin-top: 20px;
    border: 1px solid #fd9d3e;
    /* margin-left: 20px; */
}
.form-body{
    display: flex;
    /* flex-direction: ; */
    justify-content: space-between;
    flex-wrap: wrap;
    
    
    
}
.form-body1{
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    /* justify-content: space-between; */
    width: 45%;
    /* border: 1px solid rgb(216, 27, 27); */

}
.comments{
    width: 100%;
}
button:hover{
    background-color: #fff;
    color: #fd9d3e ;

}


/*Footer*/

.ctt{
    font-family: 'Gamja Flower';
    font-size: 18px;
}
.ct:hover{
    color: #fd9d3e;
}
.text-white{
    text-decoration: none;
}
.text-white h6{
    text-align:center;
    color: #fff;
    margin: 5px 5px 15px 0;
    display: inline-block;
    font-size: 18px;
    border: 1px solid #fd9d3e;
    padding: 4px 10px;
    background-color: #fd9d3e;
}
.text-uppercase{
    font-family: 'Gamja Flower';
    font-size: 25px;
}
.text-white{
    font-family: 'Gamja Flower';
    font-size: 18px;
}
.icon i{
    margin: 5px 5px 15px 15px;
    border: 1px solid #fff;
    padding: 4px 10px;
    background-color: #191919;
}
.icon i:hover{
    color:  #fd9d3e;
}
